.tool-bar{
    display: flex;
    align-items: center;
}
.loading-overlay{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    width: 80px;
    height: 80px;
}